{% extends 'base.html' %}

{% block title %} | Evaluación del lenguaje {% endblock %}

{% block css %}
<!-- SELECT2 -->
<link rel="stylesheet" type="text/css" href="libs/select2/css/select2.min.css" />
{% endblock %}

{% block content %}
    {% if resultado %}
    <form action="." method="post" name="evlenguaje_update" id="evlenguaje_update" enctype="multipart/form-data">
        {% for p in resultado %}
        {{ p }}
        {% endfor %}
    </form>
    {% else %}
    <span>Ocurrió un error 505</span>
    {% endif %}
{% endblock %}

{% block js %}
<script src="js_libs/select2/js/select2.min.js"></script>
 <script type="text/javascript">
    $activo = $("input")
    $activo.addClass("active")
    $label = $("label")
    $label.addClass("active")

    /*
    *=================================== INICIAR SELECT2 ===================================
    */
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock %}