{% extends 'base.html' %}

{% block title %} | Seleccionar {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
	<h1>Seleccione el tipo de Historia Clínica</h1>
	<div class="row">
		<div class="opciones">
			<h3>Geriatría</h3>
			<a href="geriatria.php" class="btn btn-link">Abrir Formulario</a>
			<a href="geriatria_list.php" class="btn btn-link">Ver Registros</a>
		</div>
		<div class="opciones">
			<h3>Historia Clínica Adultos</h3>
			<a href="rehabicentro.php" class="btn btn-link">Abrir Formulario</a>
			<a href="rehabicentro_list.php" class="btn btn-link">Ver Registros</a>
		</div>
		<div class="opciones">
			<h3>Terapia</h3>
			<a href="terapia.php" class="btn btn-link">Abrir Formulario</a>
			<a href="terapia_list.php" class="btn btn-link">Ver Registros</a>
		</div>
		<div class="opciones">
			<h3>Ficha de Identidad</h3>
			<a href="ficha-de-identidad.php" class="btn btn-link">Abrir Formulario</a>
			<a href="ficha-de-identidad_list.php" class="btn btn-link">Ver Registros</a>
		</div>
		<div class="opciones">
			<h3>Evaluación de Articulación</h3>
			<a href="ev_articulacion.php" class="btn btn-link">Abrir Formulario</a>
			<a href="ev_articulacion_list.php" class="btn btn-link">Ver Registros</a>
		</div>
		<div class="opciones">
			<h3>Evaluación del Lenguaje</h3>
			<a href="ev_lenguaje.php" class="btn btn-link">Abrir Formulario</a>
			<a href="ev_lenguaje_list.php" class="btn btn-link">Ver Registros</a>
		</div>
	</div>
</div>
{% endblock %}